. {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  background: #000000;
}
.container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  margin: 0px;
}

.color-bar {
  display: flex;
  flex-flow: row no-wrap;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  height: 20px;
  margin: 5px;
}

.color-block {
  color: white;
  width: 20px;
  height: 20px;
  text-align: center;
}
.red {
  background: red;
}
.green {
  background: green;
}
.blue {
  background: blue;
}
.value {
  width: 30px;
}

.slider {
  -webkit-appearance: none;
  width: 70%;
  height: 15px;
  border-radius: 100px;
  outline: none;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 100px; 
  background: #4CAF50;
  cursor: pointer;
}

.color-code {
  width: 300px;
  height: 40px;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  background: rgba(100,100,100,0.3);
}